.navbar{
  width: 100%;
  height: 50px;
  background-color: #8a6969;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
}

.active{
  border-bottom: 2px solid white;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 20px;
  color: aliceblue;
}

.navbar-menu p{
  font-size: 23px;
}

.navbar-option{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navbar-option button{
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 17px;
  background: green;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.navbar-option .logout{
  background-color: rgb(206, 10, 10);
}