.create-navber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 2px solid rgb(111, 107, 107);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.create-navber h1{
  font-size: 45px;
}

.create-navber .create-btn{
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  border: none;
  background-color: rgb(4, 89, 118);
  border-radius: 10px;
  cursor: pointer;
}

.all-post{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-evenly;
  margin-block: 30px;
}